@import url('https://rsms.me/inter/inter.css');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css');

html {
    font-family: 'Inter', sans-serif;
}

.equation {
    font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }

    .equation {
        font-family: 'Fira Code VF', monospace;
    }
}